= render "layouts/header"

.AccountEdit
  .AccountEdit-side
    = link_to edit_user_path(current_user) do
      .AccountEdit-side__box.Other
        プロフィールを編集
    .AccountEdit-side__box.Now
      パスワードを変更
  .AccountEdit-main
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .Main-box
        .Main-box__left
          .FormField-left
            = f.label "現在のパスワード"
        .Main-box__right
          .FormField-right
            = f.password_field :password, autocomplete: "new-password"
      .Main-box
        .Main-box__left
          .FormField-left
            = f.label "パスワード確認"
        .Main-box__right
          .FormField-right
            = f.password_field :password_confirmation, autocomplete: "new-password"
      .Main-box
        .Main-box__left
          .FormField-left
            = f.label "新しいパスワード"
        .Main-box__right
          .FormField-right
            = f.password_field :current_password, autocomplete: "current-password"
            - if @minimum_password_length
              %br/
              %em
                ※英数字
                = @minimum_password_length
                文字以上
      .Main-box
        .Main-box__left
          .FormField-left
        .Main-box__right
          .addClass
            = f.submit "送信する", class: 'SubmitButton'
            #{button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: :UserDelete}
