.contents
  .content
    .content__header
      .content__header__name
        = link_to user_path(tweet.user), class: "post-profile" do
          = image_tag avatar_url(tweet.user), class: "post-profile-icon"
        = link_to user_path(tweet.user), class: "post-user" do
          = tweet.user.name
      .content__header__menu
        .menu-text
          …
          %ul.tweet-menu
            %li.tweet-menu__list
              = link_to "▶︎詳細", tweet_path(tweet)
            - if tweet.user_id == current_user.id
              %li.tweet-menu__list
                = link_to "▶︎削除", tweet_path(tweet), method: :delete

    .content__image
      = image_tag tweet.photos.first.image.url(:medium), class: "post-img"
    .content__title
      %ul.content__title__icons
        %li.good-icon
          = link_to "/", class: "good" do
            %i.far.fa-thumbs-up.fa-lg.good-btn.btn-icon
        %li.bad-icon
          = link_to "/", class: "bad" do
            %i.far.fa-thumbs-down.fa-lg.bad-btn.btn-icon
        %li.comment-icon
          = link_to "/", class: "comment" do
            %i.far.fa-comment.fa-lg.comment-btn.btn-icon
      .content__title__times
        %span.content__title__times__good
          いいね！ 10件,
        %span.content__title__times__bad
          わるいね！ 99件
      .content__title__main
        %span.tweet-user
          = tweet.user.name
        %span.tweet-text
          = tweet.text
        .tweet-time
          = link_to time_ago_in_words(tweet.created_at).upcase + "前", tweet_path(tweet), class: "tweet-time__link"
        .tweet-comment
          = form_with url:"/" do |f|
            = f.text_field :text, placeholder: "コメント...", class: "comment-field"



