.post
  = render "layouts/header"

  .post__box
    .post-box
      .post-box__header
        投稿画面
      .post-box__main
        = form_with model: @tweet, local: true, class: "post-form" do |f|
          .post-caption
            .post-caption__user
              = image_tag avatar_url(current_user), class: "post-profile-icon"
            .post-caption__text
              = f.text_field :text, placeholder: "キャプションを書く", class: "text-field"
          .post-image
            = f.fields_for :photos, class: "image-field" do |i|
              = i.file_field :image
          = f.submit "投稿", class: "post-submit"