= render "layouts/header"

.AccountEdit
  .AccountEdit-side
    .AccountEdit-side__box.Now
      プロフィールを編集
    = link_to edit_user_registration_path do
      .AccountEdit-side__box.Other
        パスワードを変更
  .AccountEdit-main
    = form_for(current_user) do |f|
      .Main-box
        .Main-box__left
          .FormField-left
            = f.label "名前"
        .Main-box__right
          .FormField-right
            = f.text_field :name, autofocus: true
      .Main-box
        .Main-box__left
          .FormField-left
            = f.label "メールアドレス"
        .Main-box__right
          .FormField-right
            = f.email_field :email
      .Main-box
        .Main-box__left
          .FormField-left
        .Main-box__right
          = f.submit "送信する", class: 'SubmitButton'
%h5 アカウントの編集

= link_to "トップページに戻る", :back, class: 'Button'