= render "layouts/header"

.profile-wrap
  .profile-wrap__row
    .profile-pic
      = image_tag avatar_url(@user), class: "round-img"
    .profile-menu
      .profile-menu__row
        %h1.profile-name= @user.name
        - if @user == current_user
          %button.edit-btn{type: "button"}
            = link_to "プロフィールを編集", edit_user_registration_path, class: "edit-profile"
          .setting-icon
            %i.fas.fa-cog.fa-lg
            %ul.setting-info
              %li.setting-info__list
                = link_to "マイページ", user_path(current_user)
                = link_to "サインアウト", destroy_user_session_path, method: :delete



