%header.header
  .header__box
    .title
      = link_to image_tag('title-logo.png', width: '120', alt: "Instagram"), "/", class: "title-img"
      -# - if user_signed_in?

    .search
      🔎 cannot search...

    .menu
      .post-icon
        %button{onclick: "location.href='/tweets/new'", type: "button", class: "post-button"} 投稿
      %ul.menu__icons
        %li.home-icon
          = link_to root_path do
            %i.fas.fa-globe-americas.fa-lg.btn-icon
        %li.chat-icon
          = link_to groups_path do
            %i.fab.fa-rocketchat.fa-lg.btn-icon
        %li.profile-icon
          %i.fas.fa-user-astronaut.fa-lg.btn-icon
          %ul.user-info
            %li.user-info__list
              = link_to "▶︎マイページ", user_path(current_user)
              = link_to "▶︎サインアウト", destroy_user_session_path, method: :delete




